/*
<<<<<<<<<<<<<<<<<<<<
LOGIN & SIGNUP PAGE
<<<<<<<<<<<<<<<<<<<<
*/
#bg-image {
	background: url(https://qsf.ec.quoracdn.net/-3-images.home.logged_out_bg4.png-26-e983e9663f0687ee.png);
	height: 1px;
	width: 100%;
	padding-bottom: 845px;
	margin-bottom: -845px;
	background-repeat: no-repeat;
	background-position: center 10%;
}

#quora-logo {
	width: 224px;
	height: 82px;
	background-size: 224px 63px;
	background-image: url(https://qsf.ec.quoracdn.net/-3-images.logo.wordmark_default.svg-26-32753849bf197b54.svg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#quora-slogan {
	font-size: 18px;
	text-align: center;
	color: #999;
	font-family: serif;
}

.login-signup-form {
	width: 400px;
	margin: 60px auto;
	padding: 20px 80px 60px 80px;
	border: solid 1px #ccc;
}

.btn-primary {
	float: right;
}

.error-msg {
	color: #b92b27;
	float: left;
}

/*
<<<<<<<<<<<<<<<<<<<<
HEADER BAR
<<<<<<<<<<<<<<<<<<<<
*/

.navbar-default {
	background-color: #fff;
	border-top: solid 2px #b92b27;
	border-bottom: solid 1px #bbb;
}

.navbar-content {
	width: 1010px;
	margin: 0 auto 0 auto;
}

#navbar-logo {
	height: 110%;
	width: 110%;
}

.navbar-input {
	width: 400px !important;
	border-radius: 4px 0 0 4px;
	margin-right: -5px;
}


.navbar-submit {
	border-radius: 0 4px 4px 0;
}

.navbar-btn {
	float: right;
	margin-left: 10px;
}

/*
<<<<<<<<<<<<<<<<<<<<
HOMEPAGE
<<<<<<<<<<<<<<<<<<<<
*/

.container {
	width: 1000px;
}

.ques-ans-row {
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	margin-top: 15px;
	margin-bottom: 15px;
}

.question-info {
	margin-bottom: 5px;
	color: #aaa;
}

.question-info a {
	color: #aaa;
}

.question-text a {
	font-size: 18px;
	font-family: 'q-serif';
	font-weight: 900;
	color: #000;
}

.up-down-vote-btns {
	width: 1000px;
	height: 35px;

}

.up-down-vote-btns form {
	float: left;
	margin: 2px;
}

.btn-grey {
	background-color: #ddd;
}

/*
<<<<<<<<<<<<<<<<<<<<
PROFILE PAGE
<<<<<<<<<<<<<<<<<<<<
*/

.profile-name {
	font-size: 35px;
	font-family: 'q-serif';
	font-weight: 900;
}

.profile-email {
	font-size: 16px;
	color: #666;
}

.profile-ques-ans {
	margin-top: 20px;
}

.profile-questions {
	float: left;
	width: 50%;
	padding-right: 20px;
}

.profile-answers {
	float: left;
	width: 50%;
	padding-left: 20px;
}

.profile-answers h5 {
	font-weight: 600;
}

/*
<<<<<<<<<<<<<<<<<<<<
PROFILE PAGE
<<<<<<<<<<<<<<<<<<<<
*/

.question-text {
	font-size: 22px;
	font-family: 'q-serif';
	font-weight: 900;
	color: #000;
}
