<div class="container">
	<h1 class="text-center">Homepage</h1>
	<% if !logged_in? %>
		<form action="/sessions/new">
			<button class="btn btn-default btn-lg" type="submit">Log In</button>
		</form>
		<form>
			<button	class="btn btn-default btn-lg" type="submit">Sign Up</button>
		</form>
	<% else %>
		<form action="/sessions/destroy">
			<button class="btn btn-default btn-lg" type="submit">Log Out</button>
		</form>	
	<% end %>
</div>