<div id="bg-image"></div>
<div id="quora-logo"></div>
<div id="quora-slogan">
	A place to share knowledge and better understand the world
</div>

<div class="container">
	<form id="login-form" class="login-signup-form" method="post" action="/sessions">
		<h4>Login</h4>
		<input class="form-control" type="text" placeholder="Email" name="login_email">
		<br>
		<input class="form-control" type="password" placeholder="Password" name="login_password">
		<br>
		<p class="error-msg"></p>
		<button type="submit" class="btn btn-primary">Sign In</button>
	</form>
</div>