<div id="bg-image"></div>
<div id="quora-logo"></div>
<div id="quora-slogan">
	A place to share knowledge and better understand the world
</div>

<div class="container">
	<form id="signup-form" class="login-signup-form" method="post" action="/users">
		<h4>Sign Up</h4>
		<input class="form-control" type="text" placeholder="Name" name="user_name">
		<br>
		<input class="form-control" type="text" placeholder="Email" name="user_email">
		<p class="error-msg"></p>
		<br>
		<input class="form-control" type="password" placeholder="Password" name="user_password">
		<p class="error-msg"></p>
		<br>
		<input class="form-control" type="password" placeholder="Re-enter Password" name="user_reenter_password">
		<p class="error-msg"></p>
		<br>
		<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>
</div>