<html>
	<head>
		<title>Quora Clone</title>
		<!-- JQuery CDN -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<!-- End of JQuery CDN -->
		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- End of Bootstrap CDN -->
		<!-- Remodal-1.1.1 -->
		<link rel="stylesheet" href="/Remodal-1.1.1/dist/remodal.css">
		<link rel="stylesheet" href="/Remodal-1.1.1/dist/remodal-default-theme.css">
		<script src="/Remodal-1.1.1/dist/remodal.min.js" type="text/javascript"></script>
		<!-- End of Remodal-1.1.1 -->
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script src="/js/application.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="remodal-bg">
			<%= yield %>
		</div>


		<!-- Remodal login form -->
		<div class="remodal" data-remodal-id="modal">
			<button data-remodal-action="close" class="remodal-close"></button>
			<div id="modal-logo">
				<img alt="Quora" src="https://qsf.ec.quoracdn.net/-3-images.logo.wordmark_default.svg-26-32753849bf197b54.svg">
			</div>
			<br>
			<form id="modal-login-form" method="post" action="/sessions">
				<h4 class="modal-title">Login to access more features!</h4>
				<input class="form-control" type="text" placeholder="Email" name="login_email">
				<br>
				<input class="form-control" type="password" placeholder="Password" name="login_password">
				<br>
				<p class="error-msg"></p>
				<button type="submit" class="btn btn-primary btn-modal">Sign In</button>
			</form>
			<div class="signup-msg">
				<p>Click here to <a href="users/new">sign up</a></p>
			</div>
		</div>
	</body>
</html>